<nav class="nav d-flex">
  <div class="nav__box">
    <a [routerLink]="['deck']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="nav__item">
      <span class="nav__link">Protocol</span>
    </a>
  </div>
  <div class="nav__box">
    <a [routerLink]="['robot']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="nav__item">
      <span class="nav__link">Robot</span>
    </a>
  </div>
  <div class="nav__box">
    <a [routerLink]="['labware']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="nav__item">
      <span class="nav__link">Labware</span>
    </a>
  </div>
</nav>
