@import "./src/scss/shared/variables";

.nav {
  height: 100%;

  &__box {
    padding: 0 12px;
  }
  &__item {
    display: flex;
    align-items: center;
    height: 100%;

    &.active {
      color: $accent-color;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
      }
    }
  }

  &__link {
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}
