header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-wrapper {
  width: 60px;
  height: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 14px;
  background-color: blue;
}
