@import "./src/scss/shared/variables";

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 16%);
  color: $middle-gray-color;
  font-size: 12px;
  line-height: 24px;
  border-radius: 8px;

  &__cell-wrapper {
    width: 276px;
    height: 188px;
    padding: 0 24px 24px 0;
    cursor: pointer;
    transition: .2s;

    &:hover {
      transform: translateY(-3px);
      & div {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 3%);
      }
    }

    &--light {
      & div {
        background-color: $light-color;
      }
    }

    &--dark {
      & div {
        background-color: $middle-gray-color;
        color: $dark-font-color;
      }
    }

    & div {
      width: 100%;
      height: 100%;
      max-height: 188px;
      border-radius: 8px;
    }
  }

  & tbody th, .head {
    font-weight: bold;
    width: 24px;
    vertical-align: middle;
  }
}
