<div class="deck">
  <table>
    <thead>
      <tr class="head">
        <th></th>
        <th *ngFor="let col of testingConfig.names[0]">{{col[1]}}</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let row of testingConfig.names">
        <th>{{row[0][0]}}</th>
        <td class="deck__cell-wrapper"
            [ngClass]="row[0][0] === 'C' ? 'deck__cell-wrapper--dark' : 'deck__cell-wrapper--light'"
            *ngFor="let col of row">
          <div (click)="cellClick(row[0][0], col[1])">
<!--            {{row[0][0] + col[1]}}-->
            <app-svg-icon [icon]="'microplate96'" [name]="'96'"></app-svg-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-svg-icon [icon]="'microplate96'" [name]="'96'"></app-svg-icon>
<button (click)="openDialog()">deck-page</button>
