<div class="d-flex header-actions-box">
  <div class="username-wrapper">
    <fa-icon class="icon icon--accent p-r-10" [icon]="faUser"></fa-icon>
    <span class="p-r-25">{{userName}}</span>
  </div>
  <fa-icon class="icon icon--dark p-r-25" [icon]="faBell"></fa-icon>
  <fa-icon class="icon icon--dark" [icon]="faSearch"></fa-icon>
  <div class="company-logo">
    <div class="logo"></div>
  </div>
</div>
