@import "./src/scss/shared/variables";
:host {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 42px;
}
.username-wrapper {
  cursor: pointer;
  &:hover {
    & > span {
      color: $accent-color;
    }
  }
}
.icon {
  font-size: 16px;
  cursor: pointer;

  &--accent {
    color: $accent-color;
  }

  &--dark {
    color: $dark-color;
    &:hover {
      color: $accent-color;
    }
  }
}

.company-logo {
  padding-left: 115px;
  .logo {
    transform: translateY(-2px);
    background-color: $accent-color;
    width: 111px;
    height: 20px;
  }
}
