@import "./src/scss/shared/variables";
.layout {
  color: $dark-font-color
}

.sidebar {
  width: 60px;
  background: $white-color;
  height: calc(100vh - 64px);
}

.main {
  flex-grow: 1;
  background: $background-color;
}

.header {
  height: 64px;
  background: $white-color;
}

