<div class="layout position-relative vh-100 vw-100 d-flex">
  <section class="main vh-100 overflow-auto">
    <app-header class="header d-flex">
    </app-header>
    <div class="d-flex">
      <app-side-bar class="sidebar">
      </app-side-bar>

      <ng-content>
      </ng-content>
    </div>

  </section>
</div>
