@import './scss/reset';
@import './scss/common';
@font-face {
  font-family: "MetaPro";
  src: local("MetaPro"), url("./assets/fonts/MetaPro-Normal.otf") format("truetype");
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "MetaPro", Arial, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
